// scss-lint:disable QualifyingElement
//

/// Style reset for base elements
/// @access public
/// @group reset
/// @type bool

*,
::after,
::before {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

button,
input,
select,
textarea {
  font: inherit;

  appearance: none;
}

input[type=checkbox] {
  appearance: checkbox;
}

input[type=radio] {
  appearance: radio;
}

ul,
ol {
  @include var(margin-left, double);
}

p,
table {
  @include var(margin-bottom, half);
}

table {
  border-collapse: collapse;
}
