//---------------------------
//
// Settings - Base
//
//---------------------------

$MA-base-leading-body: 2;
$MA-base-leading-small: 1.6;
$MA-base-leading-head: 1.4;

$MA-base-margin: ($MA-base-leading-body * 1em);
