//---------------------------
//
// Fonts
//
//---------------------------

$font: (
  family: (
    sans: (Lato, sans-serif),
    serif: (Merriweather, serif)
  ),
  weight: (),
  size: (),
  leading: ()
);
