//---------------------------
//
// Maps
//
//---------------------------

/// Associate variable map name to an actual variable map

$MA-maps: (
  color: $MA-color,
  font: $MA-typography,
  spacing: $MA-spacing,
);
