//---------------------------
//
// Props
//
//---------------------------

/// Which property uses which map

$MA-props: (
  background-color: color,
  color:            color,
  margin:           spacing,
  margin-top:       spacing,
  margin-right:     spacing,
  margin-bottom:    spacing,
  margin-left:      spacing,
  padding:          spacing,
  padding-top:      spacing,
  padding-right:    spacing,
  padding-bottom:   spacing,
  padding-left:     spacing,
  font-family:      (font, family),
  font-size:        (font, size),
  font-weight:      (font, weight),
  line-height:      (font, leading),
);
