//---------------------------
//
// Typography
//
//---------------------------

$MA-typography: (
  family: (
    sans: (Lato, sans-serif),
    serif: (Merriweather, serif)
  ),
  weight: (),
  size: (
    body: 18px
  ),
  leading: (
    body: $MA-base-leading-body,
    head: $MA-base-leading-head
  )
);
